.footer {
    background-color: $footer-bg;
    font-family: $font-2;
    font-size: 1.2em;
    padding-top: 15px;

    .div-footer {
        display: flex;
        justify-content: center;
        gap: 3em;
    }

    p {}

    a {
        text-decoration: none;
    }
}