@use "general" as general;
.footer {
    background-color: general.$footer-bg;
    font-family: general.$font-2;
    font-size: 1.2em;
    padding-top: 15px;
    border-top: 0.1em solid darkslategray; 

    .div-footer {
        display: flex;
        justify-content: center;
        gap: 3em;
    }

    p {
        font-size: 1em;
    }

    a {
        text-decoration: none;
    }
    img {
        width: 1.2em; // o el tamaño que desees
        height: 1.2em; // o el tamaño que desees
        margin-right: 10px; // o el margen que desees
    }
}