$bg-color: linear-gradient(to bottom, #ffebcd, #c7c5b8);
$nav-bg: #ffebcd;
$font-color-1: #4c8077;
$footer-bg: #c7c5b8;
$font-1: "Overlock", sans-serif;
$font-2: 'Playfair', serif;


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    background: $bg-color;
}