@use "general.scss" as general;
header {
    .navbar {
       background-color: general.$nav-bg;
       border-bottom: 0.1em solid darkslategray; 


        .container-fluid {
            .navbar-text {
                padding: 0px;

                /*Link header*/
                a {
                    font-family: general.$font-1;
                    font-size: 2em;
                    color: general.$font-color-1;
                    text-decoration: none;
                    padding: 0;
                    margin: 0;
                    margin-left: 0.5em;
                }
            }
        }

        .navbar-toogler {}
    }
}