@use "general" as general;

main {
    .main {
        .div-logo {
            padding-top: 10px;
        }

        .text-logo {
            color: general.$font-color-1;
            padding-bottom: 20px;

            h2 {
                margin-top: 0.2em;
                font-family: general.$font-1;
                font-size: 2em;
            }

            h3 {
                margin-top: 0.2em;
                font-family: general.$font-1;
                font-size: 2em;
            }

            p {
                margin-top: 0.2em;
                margin-bottom: 1em;
                font-family: general.$font-1;
                font-size: 1.2em;
            }
        }

        .descripcion {
            padding: 6em;

            p {
                font-family: general.$font-2;
                font-size: 1.5em;
            }

            h4 {
                margin-top: 100px;
                font-family: general.$font-1;
                font-size: 2.5em;
                color: general.$font-color-1;
            }
        }

        .tarjetas {
            font-family: general.$font-2;

            h3 {
                font-size: 2em;
            }

            p {
                font-size: 1.5em;
            }

            .card {
                border: 2px black solid;

            }

        }

        .tarjetas-proy {
            h5 {
                font-size: 2em;
            }

            .text-body-secondary {
                font-size: 1em;
                font-style: italic;
            }

            .tarjetas-proy-2 {
                border: solid 1px darkslategray;
                border-radius: 2em;
                overflow: hidden;
            }
        }

        .tarjetas-serv {
            margin-top: 3em;

            .card-body {
                padding: 2em;
                display: flex;
                flex-direction: column;
                align-items: start;


                .titulo-descripcion {
                    display: flex;
                    align-items: start;

                    h5 {
                        font-size: 1.5em;
                        width: 8em;
                    }
                    @media (max-width: 768px) { 
                        flex-direction: column;
                    }
                }
               

                .text-body-secondary {
                    font-size: 1em;
                    font-style: italic;
                }

                ul {
                    margin-left: 10em;
                    @media (max-width: 768px) { 
                        margin: 0 auto;
                    }
                }
            }


        }

        .card {
            margin: 0 auto;
            margin-bottom: 3em;
        }
    }
    p{
        font-size: 1.2em;
    }
}

.div-mapa {
    width: 40%;
    margin: 20px auto;
    display: flex;
    justify-content: center;

    p {
        padding: 1em;
        font-family: general.$font-2;
        font-size: 1.5em;
    }
}
