/*Para no colocar links de fonts en cada html, uso import con la seccion de href de googlefonts*/
@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

$bg-color: linear-gradient(to right, #e6e6e6, #f2fee4);
$nav-bg: #dac37e;
$font-color-1: #4c8077;
$footer-bg: #dac37e;
$font-1: "Overlock", sans-serif;
$font-2: 'Playfair', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: $bg-color;

    header {
        .navbar {
           background-color: $nav-bg;

            .container-fluid {
                .navbar-text {
                    padding: 0px;

                    /*Link header*/
                    a {
                        font-family: $font-1;
                        font-size: 2em;
                        color: $font-color-1;
                        text-decoration: none;
                        padding: 0;
                        margin: 0;
                        margin-left: 0.5em;
                    }
                }
            }

            .navbar-toogler {}
        }
    }

    main {
        .main {
            .div-logo {
                padding-top: 10;
            }

            .text-logo {
                color: $font-color-1;
                padding-bottom: 20px;

                h2 {
                    margin-top: 0.2em;
                    font-family: $font-1;
                    font-size: 2em;
                }

                h3 {
                    margin-top: 0.2em;
                    font-family: $font-1;
                    font-size: 2em;
                }

                p {
                    margin-top: 0.2em;
                    font-family: $font-1;
                    font-size: 1.2em;
                }
            }

            .descripcion {

                p {
                    font-family: $font-2;
                    font-size: 1.5em;
                }

                h4 {
                    font-family: $font-1;
                    font-size: 2em;
                    color: $font-color-1;
                }
            }

            .tarjetas {
                font-family: $font-2;

                h3 {
                    font-size: 2em;
                }

                p {
                    font-size: 1.5em;
                }


            }

            .tarjetas-proy {
                h5 {
                    font-size: 2em;
                }

                .text-body-secondary {
                    font-size: 1em;
                    font-style: italic;
                }
            }

            .tarjetas-serv {
                .card-body {
                    display: flex;
                    align-items: center;

                    h5 {
                        font-size: 1.5em;
                        padding-right: 0.5em;
                    }

                    .text-body-secondary {
                        font-size: 1em;
                        font-style: italic;
                    }
                }

            }

            .div-mapa {
                width: 40%;
                margin: 20px auto;
                display: flex;
                justify-content: center;

                p {
                    padding: 1em;
                    font-family: $font-2;
                    font-size: 1.5em;
                }
            }
        }
    }

    .footer {
        background-color: $footer-bg;
        font-family: $font-2;
        font-size: 1.2em;
        padding-top: 15px;

        .div-footer {
            display: flex;
            justify-content: center;
            gap: 3em;
        }

        p {}

        a {
            text-decoration: none;
        }
    }
}